extends ../layout/index
block contenido
    h1.text-4xl.font-black.text-center.m-10 Mi Perfil
    .bg-white.shadow.md.px-8.pt-6.pb-8.mb-4.block
        p.text-lg.font-bold.text-center Datos del Usuario
        p.text-center Nombre: #{usuario.nombre}
        p.text-center Email: #{usuario.email}
        p.text-center Clave: #{usuario.clave}