header.bg-gray-300.p-4
    .container.mx-auto.flex.justify-between.items-center
        a(href="/catalogo") 
            //- h1.text-2xl.text-white.font-extrabold.text-center Isi
            //-     span.font-normal Office
            img(src="/uploads/logo.png", alt="logo", class="h-16 inline-block ml-2")